artslave/n8n/workflows/artslave-data-sync.json
{
  "name": "ArtSlave 数据同步工作流",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "开始",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "http://localhost:3000/api/workflow/data/submissions?limit=100",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "get-submissions",
      "name": "获取投稿数据",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "检查响应",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理投稿数据并生成统计信息\nconst response = $input.first().json;\nconst submissions = response.data || [];\n\nconst stats = {\n  totalSubmissions: submissions.length,\n  activeSubmissions: submissions.filter(s => s.isActive).length,\n  byType: {},\n  recentSubmissions: 0,\n  expiringSoon: 0\n};\n\n// 统计各类型数量\nsubmissions.forEach(submission => {\n  const type = submission.type || 'UNKNOWN';\n  stats.byType[type] = (stats.byType[type] || 0) + 1;\n  \n  // 统计最近7天的投稿\n  const createdAt = new Date(submission.createdAt);\n  const weekAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\n  if (createdAt > weekAgo) {\n    stats.recentSubmissions++;\n  }\n  \n  // 统计即将到期的投稿（7天内）\n  const deadline = new Date(submission.deadline);\n  const weekFromNow = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000);\n  if (deadline < weekFromNow && deadline > new Date()) {\n    stats.expiringSoon++;\n  }\n});\n\nreturn [{ json: { stats, submissions: submissions.slice(0, 10) } }];"
      },
      "id": "process-data",
      "name": "处理数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "http://localhost:3000/api/workflow/data/stats",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "get-db-stats",
      "name": "获取数据库统计",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 240]
    },
    {
      "parameters": {
        "jsCode": "// 合并统计数据\nconst processedData = $input.first().json;\nconst dbStats = $input.last().json;\n\nconst combinedStats = {\n  timestamp: new Date().toISOString(),\n  workflowStats: processedData.stats,\n  databaseStats: dbStats.success ? dbStats.data : null,\n  syncStatus: 'completed',\n  processedSubmissions: processedData.submissions.length\n};\n\nreturn [{ json: combinedStats }];"
      },
      "id": "merge-stats",
      "name": "合并统计数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "message": "数据同步完成。工作流统计: {{ $json.workflowStats.totalSubmissions }} 条投稿信息，{{ $json.workflowStats.activeSubmissions }} 条活跃。数据库统计: {{ $json.databaseStats ? $json.databaseStats.overview.totalSubmissions : 'N/A' }} 条总记录。"
      },
      "id": "log-sync-result",
      "name": "记录同步结果",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 240]
    },
    {
      "parameters": {
        "message": "数据同步工作流执行完成"
      },
      "id": "workflow-complete",
      "name": "工作流完成",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "message": "API 响应失败或数据获取错误"
      },
      "id": "error-handler",
      "name": "错误处理",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 360]
    }
  ],
  "connections": {
    "开始": {
      "main": [
        [
          {
            "node": "获取投稿数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取投稿数据": {
      "main": [
        [
          {
            "node": "检查响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查响应": {
      "main": [
        [
          {
            "node": "处理数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "错误处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理数据": {
      "main": [
        [
          {
            "node": "获取数据库统计",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取数据库统计": {
      "main": [
        [
          {
            "node": "合并统计数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并统计数据": {
      "main": [
        [
          {
            "node": "记录同步结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "记录同步结果": {
      "main": [
        [
          {
            "node": "工作流完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "artslave-data-sync",
  "tags": ["artslave", "data-sync", "automation"]
}
